<h1>Listing synonyms</h1>

<table>
  <tr>
    <th>Keyword</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @synonyms.each do |synonym| %>
  <tr>
    <td><%= synonym.keyword_id %></td>
    <td><%= synonym.name %></td>
    <td><%= link_to 'Show', synonym %></td>
    <td><%= link_to 'Edit', edit_synonym_path(synonym) %></td>
    <td><%= link_to 'Destroy', synonym, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Synonym', new_synonym_path %>
