<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @synonym.keyword_id %>
</p>

<p>
  <b>Name:</b>
  <%= @synonym.name %>
</p>


<%= link_to 'Edit', edit_synonym_path(@synonym) %> |
<%= link_to 'Back', synonyms_path %>
