<STYLE type="text/css">
   label {display:inline}
   input {display: inline}
 </STYLE>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      function myChart(src, typ)
    {
    	this.chart="";
    	this.source=src;
    	this.type=typ;
    	this.dataReceived=[];
    	this.data="";
    	this.options="";
    }
    
    var count=0;
    var allCharts=[];
    
    allCharts[0]= new myChart("twitter", "mentions");
    allCharts[1]= new myChart("twitter", "sentiments");
    allCharts[2]= new myChart("articles", "mentions")
    allCharts[3]= new myChart("articles", "sentiments");
    allCharts[4]= new myChart("comments", "mentions");
    allCharts[5]= new myChart("comments", "sentiments");
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});      
      
	 google.setOnLoadCallback(function(){ 
	 	
	 	for(var i=0; i<allCharts.length; i++)
	 	{
	 		drawChart11(allCharts[i]);
	 	}
	 	})
	 //google.setOnLoadCallback(function(){ drawChart11(secondChart) })
	
     
      function drawChart11(theChart) {
      	
      	if (theChart.type=="mentions")
      	{
      	theChart.data = new google.visualization.DataTable();
        theChart.data.addColumn('string','Date');
        theChart.data.addColumn('number', 'Mentions')
      	theChart.data.addColumn({type:'string',role:'tooltip'});

      	
        theChart.data.addRows(theChart.dataReceived)
 
         theChart.options = {
          title: theChart.source+" "+theChart.type,
          'width':460, 'height':200, pointSize: 5
        };

        theChart.chart = new google.visualization.LineChart(document.getElementById(theChart.source+"_"+theChart.type));
       }
       else
       {
       	theChart.data = new google.visualization.DataTable();
        theChart.data.addColumn('string','Date');
        theChart.data.addColumn('number', 'Negative')
        theChart.data.addColumn('number', 'Neutral')
        theChart.data.addColumn('number', 'Positive')
       
        theChart.data.addRows(theChart.dataReceived)
        
         theChart.options = {
          title: theChart.source+" "+theChart.type,
          //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
          isStacked: true,
     	 'width':460, 'height':200,
          colors: ['red','yellow','#00AA11']
        };

        theChart.chart = new google.visualization.ColumnChart(document.getElementById(theChart.source+"_"+theChart.type));

       }
        
        theChart.chart.draw(theChart.data, theChart.options);
        
      }
      
 function updateControlCandidates11(obj) {
      	
      	//console.debug("a iss")
      	//console.debug(a)
      	a=document.getElementById('keywords')
      	val=a.options[a.selectedIndex].value
      	// this is the keyword
      	//console.debug(val)
      	//getSelected();
		getKey(val, obj);	
	}
	
getKey = function(val, obj) {
  var url;
  url = void 0;
  if (obj.type=="mentions"){
  	url = "/articles/get_mentions";	
  }
  else{
  	url = "/articles/get_count";
  }
  
 
  return $.getJSON(url,{val:val, src:obj.source} ,function(data5) {
    //console.log(data5);
    
    // if (obj.type=="mentions"){
//   	
    // for(var i=0; i<data5.length; i++)
    // {
    	// data5[i][0]= new Date(data5[i][0])
    // }
//     
    // }
    count=count+1;
    obj.dataReceived=data5;
    drawChart11(obj);
    
    if(count==allCharts.length)
    {
    document.getElementById('loading').innerHTML ="";
    count=0;
    }
    
  });
};


	updateAll = function(a)
	{
		document.getElementById('loading').innerHTML =( '<%= image_tag "loading2.gif", :alt=>"" %> ' );
		for(var i=0; i<allCharts.length; i++)
	 	{
	 		updateControlCandidates11(allCharts[i]);
	 	}
	
	}


	$(document).ready(function() {
  		
  		updateAll();
  		
  
	});


    </script>
<div>
	<%= form_tag charts_check_path do %>
	<center>
	<div style="height:100px">
		<div style="float:left; width:100%" id="candidate_chooser2">
					<%= select_tag 'keywords', options_from_collection_for_select(Target.all, :id, :name) , :onchange =>"updateAll(this)"%>
							
	</div>
	<div style="width: 100px; height: 100px" id="loading"></div>
	
	</div>
	</center>
<div class="span12">			
<div class="span4">
			<div id="twitter_sentiments" ></div>
			<center><%= submit_tag "Detailed View", :name => "twitter_sentiments" %></center>
			
</div>
<div class="span4">
			<div id="articles_sentiments" ></div>
			<center><%= submit_tag "Detailed View", :name => "articles_sentiments" %></center>
</div>
<div class="span4">
			<div id="comments_sentiments" ></div>
			<center><%= submit_tag "Detailed View", :name => "comments_sentiments" %></center>
</div>
</div>
<div class="span12">
<div class="span4">
			<div id="twitter_mentions" ></div>
			<center><%= submit_tag "Detailed View" , :name => "twitter_mentions" %></center>
			
</div>
<div class="span4">
			<div id="articles_mentions" ></div>
			<center><%= submit_tag "Detailed View" , :name => "articles_mentions" %></center>
			
</div>
<div class="span4">
			<div id="comments_mentions" ></div>
			<center><%= submit_tag "Detailed View" , :name => "comments_mentions" %></center>
			
</div>
</div>
	<% end %>
</div>

