<STYLE type="text/css">
   label {display:inline}
   input {display: inline}
 </STYLE>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      //google.setOnLoadCallback(drawChart);

	 var dataReceived, chart11, data11, options11, data22, chart22, options22, dataReceived22
	 	dataReceived=[];
	 	dataReceived22=[]
	 	
     google.setOnLoadCallback(drawChart11);
      function drawChart11() {
      	
      	data11 = new google.visualization.DataTable();
        data11.addColumn('datetime','Date');
        data11.addColumn('number', 'Mentions')
      
      	
        data11.addRows(dataReceived)
 
         options11 = {
          title: 'Twitter',
          'width':500, 'height':200
        };

        chart11 = new google.visualization.LineChart(document.getElementById('chart_div11'));
        
        chart11.draw(data11, options11);
        
      }

      //
      
 function updateControlCandidates11(a,b) {
      	
      	console.debug("a iss")
      	console.debug(a)
      	a=document.getElementById('keywords')
      	val=a.options[a.selectedIndex].value
      	// this is the keyword
      	console.debug(val)
      	getSelected();
		getKey(val, "twitter",b);	
	}
	
function getSelected() {
      	

      	a=document.getElementById('keywords');
      	val=a.options[a.selectedIndex].value;
		//return val;
		url = "/articles/getSelected";
		 $.getJSON(url,{val:val} ,function(data5) {
	    console.log(data5);
	 });
	}
	
	
getKey = function(val, source,b) {
  var url;
  url = void 0;
  url = "/articles/get_mentions";
  return $.getJSON(url,{val:val, src:source} ,function(data5) {
    //console.log(data5);
    for(var i=0; i<data5.length; i++)
    {
    	//console.debug(data5[i][0])
    	data5[i][0]= new Date(data5[i][0])
    }
    dataReceived=data5;
    if (b == true)
    	return
    else
    	drawChart11();
    
     
  });
};

////////// SECOND CHART //////////////

google.setOnLoadCallback(drawChart22);
      function drawChart22() {
      	
      	data22 = new google.visualization.DataTable();
        data22.addColumn('string','Date');
        data22.addColumn('number', 'Negative')
        data22.addColumn('number', 'Neutral')
        data22.addColumn('number', 'Positive')
       
        
        
        data22.addRows(dataReceived22)
        
        

         options22 = {
          //title: 'Company Performance',
          //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
          isStacked: true,
     	 'width':500, 'height':200,
          colors: ['red','yellow','#00AA11']
        };

        chart22 = new google.visualization.ColumnChart(document.getElementById('chart_div22'));
        
        chart22.draw(data22, options22);
      }
      
 function updateControlCandidates22(a) {
      	
      	
      	a=document.getElementById('keywords')
      	val=a.options[a.selectedIndex].value
      	// this is the keyword
      	console.debug(val)
      	
		getKey22(val, "twitter");
		
		//chart.draw(data,options);
	}
	  


getKey22 = function(val, source) {
  var url;
  url = void 0;
  url = "/articles/get_count";
  return $.getJSON(url,{val:val, src:source} ,function(data5) {
    console.log(data5);
    
    dataReceived22=data5;
    drawChart22();
     
  });
};

	updateAll = function(a)
	{
		updateControlCandidates11(a);
		updateControlCandidates22(a);
	}


	$(document).ready(function() {
  		//updateControlCandidates11();
  		//updateControlCandidates22();
  		updateAll();
  		
  
	});
	
	
// $(function($) {
    // $("#link").click(function() {
        // $.ajax({url: '<%= url_for :action => 'sentiments' %>',
        // data: 'selected=' + document.getElementById('keywords').value,
        // dataType: 'script'})
    // });
//});


    </script>
<div>
	<%= form_tag charts_check_path do %>
	<center><div id="candidate_chooser2">
					<%= select_tag 'keywords', options_from_collection_for_select(Target.all, :id, :name) , :onchange =>"updateAll(this)"%>
							
	</div></center>
<div class="span12">			
<div class="span4">
			<div id="chart_div22" ></div>
			<center><%= submit_tag "Detailed View", :name => "twitter_sentiments" %></center>
			
			
</div>
</div>
<div class="span12">
<div class="span4">
			<div id="chart_div11" ></div>
			<center><%= submit_tag "Detailed View" , :name => "twitter_mentions" %></center>
			
</div>
</div>
	<% end %>
</div>

