<STYLE type="text/css">
   label {display:inline}
   input {display: inline}
 </STYLE>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

	 var chart, d1, d2, d3, chart2,dataReceived, control, dashboard, data, data2, data_array, stat_titles, tag_colors, option, options2, view, allcolumns, hideCols;
	 	dataReceived=[];
	 	d1=[];
	 	d2=[];
	 	d3=[];
	 	
	 	// dataReceived=[
        // ['2-2-234',654,234,678],
        // ['2,3,44',87,890,543],
        // ['233-23-44',33,44,67],
        // ['wf-d-d',33,44,55]
        // ]
	 	hideCols=new Array();
	 	allcolumns=[0,1,2,3,4,5];
		data_array = new Array();
		stat_titles = new Array();
		// tag_colors = new Array();
		// tag_colors.push('red');
		// tag_colors.push('green');
		// tag_colors.push('blue');
		// tag_colors.push('orange');
		// tag_colors.push('lightblue');
		// tag_colors.push('purple');
		// tag_colors.push('maroon');
		// tag_colors.push('olive'); 

      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      	
      function updateStats() {
		var radioObj = document.getElementsByName("stat");
		var radioLength = radioObj.length;
		for(var i = 0; i < radioLength; i++) {
			if(radioObj[i].checked) {
				var selected_stat = radioObj[i].value;
			}
		}
		
		console.debug(selected_stat)
		data = data_array[selected_stat];
		updateControlCandidates();
		//chart.draw(data,options)
		//chart.setDataTable(data_array[selected_stat]);
		//chart.setOption("title", stat_titles[selected_stat]);
		//updateCandidates();
		//dashboard.draw(data);
		}
		
	
      
      
      
      function drawChart() {

       
        data_array['articles'] = new google.visualization.DataTable();
        data_array['articles'].addColumn('datetime','Date');
        data_array['articles'].addColumn('number', 'Muslim Brotherhood')
        data_array['articles'].addColumn('number', 'EFG Hermes')
        data_array['articles'].addColumn('number', 'SCAF')
        data_array['articles'].addColumn('number', 'Ahmed Shafik')
        data_array['articles'].addColumn('number', 'Morsi')
        
        
        
        data_array['articles'].addRows(d1)
        
        data_array['comments'] = new google.visualization.DataTable();
        data_array['comments'].addColumn('date','Date');
        data_array['comments'].addColumn('number', 'Muslim Brotherhood')
        data_array['comments'].addColumn('number', 'EFG Hermes')
        data_array['comments'].addColumn('number', 'SCAF')
        data_array['comments'].addColumn('number', 'Ahmed Shafik')
        data_array['comments'].addColumn('number', 'Morsi')
        
        
        
        data_array['comments'].addRows(d2)
        
        data_array['twitter'] = new google.visualization.DataTable();
        data_array['twitter'].addColumn('date','Date');
        data_array['twitter'].addColumn('number', 'Muslim Brotherhood')
        data_array['twitter'].addColumn('number', 'EFG Hermes')
        data_array['twitter'].addColumn('number', 'SCAF')
        data_array['twitter'].addColumn('number', 'Ahmed Shafik')
        data_array['twitter'].addColumn('number', 'Morsi')
        
        
        
        data_array['twitter'].addRows(d3)
        
    	data=data_array['articles']

        options = {
          //title: 'All Articles',
           'width':500, 'height':450
        };

      
 
        // Instantiate and draw our chart, passing in some options.
        chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		
        // function selectHandler() {
          // var selectedItem = chart.getSelection()[0];
          // if (selectedItem) {
            // var topping = data.getValue(selectedItem.row, 0);
            // alert('The user selected ' + topping);
          // }
        // }

	
	 function selectHandler() {
	 	
          var selection = chart.getSelection();  // what if view.. google.. then osman.
          var message =""
          
          for (var i = 0; i < selection.length; i++) {
		    var item = selection[i];
		    if (item.row != null && item.column != null) {
		    column=allcolumns[item.column];
		    console.debug("column iss")
		    console.debug(column)
		      message += data.getColumnLabel(column) + ' : ' + data.getValue(item.row, column) + ',date: ' + data.getValue(item.row, 0);  
		    } else if (item.row != null) {
		      message += '{row:' + item.row + '}';
		    } else if (item.column != null) {
		      column=allcolumns[item.column];
		      message += data.getColumnLabel(column);
		
		    }
		  }
		  if (message == '') {
		    message = 'nothing';
		  }
		  //alert('You selected ' + item.row + " " + item.column);
		  var radioObj = document.getElementsByName("stat");
			var radioLength = radioObj.length;
			for(var i = 0; i < radioLength; i++) {
				if(radioObj[i].checked) {
					var selected_stat = radioObj[i].value;
				}
			}
		  
		  getText(data.getColumnLabel(column), data.getValue(item.row, 0), selected_stat)
		  $('#here').text(message)
		          
        }
	 


        google.visualization.events.addListener(chart, 'select', selectHandler);    
        chart.draw(data_array['articles'], options);
      }
      
      
    
 
	  
      

 function updateControlCandidates(a) {
      	
      	console.debug("a iss")
      	console.debug(a)
		var candidateList = document.getElementsByClassName("candidates");
		var checkedCount = 0;
		var columns= new Array();
		columns.push(0);
		for (var i = 0; i < candidateList.length; i++) {
		if (candidateList[i].checked) //checkedCount++;
		{
			console.debug(candidateList[i].value)
			columns.push(i+1)
		}
	   } 
	   
	   
	    view = new google.visualization.DataView(data);
		allcolumns=columns
		
		if(columns.length==1)
		{
		 document.getElementById(a.id).checked=true
		 
		 for (var i = 0; i < candidateList.length; i++) {  // add it again to columns
			if (candidateList[i].checked) //checkedCount++;
				{
					console.debug(candidateList[i].value)
					columns.push(i+1)
				}
			}
	   	 return
		}
		
		view.setColumns(columns);
		console.debug(columns)
	      //chart.setColumns(columns);
	      chart.draw(view,options);
	}

	 $(document).ready(function() {
  //return $("#semester_sel2").change(changeSemester2).trigger("change");
  //updateStats();
  
  getFirstChart();
});

getFirstChart = function() {
  var url;
  url = void 0;
  url = "/articles/get_mentions";
  $.getJSON(url,{src:"articles"} ,function(data5) {
    console.log(data5);
    
    for(var i=0; i<data5.length; i++)
    {
    	console.debug(data5[i][0])
    	data5[i][0]= new Date(data5[i][0])
    }
    d1=data5;
    drawChart();
    //chart.draw()
      });
  $.getJSON(url,{src:"comments"} ,function(data5) {
    console.log(data5);
    
    for(var i=0; i<data5.length; i++)
    {
    	console.debug(data5[i][0])
    	data5[i][0]= new Date(data5[i][0])
    }
    d2=data5;
    drawChart();
    //chart.draw()
      });
   $.getJSON(url,{src:"twitter"} ,function(data5) {
    console.log(data5);
    
    console.debug("date is")
    console.debug(data5[0][0])
    for(var i=0; i<data5.length; i++)
    {
    	//console.debug(data5[i][0])
    	data5[i][0]= new Date(data5[i][0])
    }
    d3=data5;
    drawChart();
    //chart.draw()
      });
};

getText = function(keyword, date, stat) {
  var url;
  url = void 0;
  url = "/articles/get_text";
  $.getJSON(url,{keyword:keyword, date:date, stat:stat} ,function(data5) {
    console.log(data5);
    
  
      });
};
      

    </script>

<!-- <div id="chart_div" style="width:400; height:300"></div> -->

<div>
<div class="span6">

			<div id="dashboard" style="width: 600px; position: relative; float:right;"></div>
			<div id="data_chooser">
				<center>
				<!-- <b>المؤشر:</b><br /> -->
				
				<%= radio_button_tag  'stat' ,'articles', true , :onclick =>"updateStats()"%>
				<%= label_tag 'stat[articles]',  'Articles' %>
				
				<%= radio_button_tag  'stat' ,'comments', false , :onclick=>"updateStats()"%>
				<%= label_tag 'stat[comments]',  'Comments' %>
				
				<%= radio_button_tag  'stat' ,'twitter', false , :onclick=> "updateStats()"%>
				<%= label_tag 'stat[twitter]',  'Twitter' %>
					
				</center>
			</div>
			
			<div id="chart_div" style="width: 500px; height: 450px;"></div>
			<center><div id="candidate_chooser">
				<!-- <input id="candidates[أبو اسماعيل]" type="checkbox" onclick="updateControlCandidates()" value="أبو اسماعيل" name="candidates"> -->
					<%= check_box_tag  'candidates[1]' ,'Muslim Brotherhood', true , :onclick=>"updateControlCandidates(this)", :class => 'candidates'%>
					<%= label_tag 'candidates[1]',  'Muslim Brotherhood' %>
					
					<%= check_box_tag  'candidates[2]' , 'EFG Hermes', true , :onclick=>"updateControlCandidates(this)" ,:class => 'candidates'%>
					<%= label_tag 'candidates[2]', 'EFG Hermes' %>
					
					<%= check_box_tag  'candidates[3]' ,  'SCAF', true , :onclick=>"updateControlCandidates(this)", :class => 'candidates'%>
					<%= label_tag 'candidates[3]', 'SCAF' %>
					
					<%= check_box_tag  'candidates[4]' , 'Ahmed Shafik', true , :onclick=>"updateControlCandidates(this)", :class => 'candidates'%>
					<%= label_tag 'candidates[4]', 'Ahmed Shafik' %>
					
					<%= check_box_tag  'candidates[5]' , 'Morsi', true , :onclick=>"updateControlCandidates(this)", :class => 'candidates'%>
					<%= label_tag 'candidates[5]', 'Morsi' %>
					
					
			</div></center>
			<div id="control" style="width: 600px; height: 100px; position: relative;"></div>
</div>

<div class="span5" >	
<div class="well sidebar-nav" style="height:500px;overflow:auto;">
<h3>Text</h3><br>
<div id="here">
                <!-- <ul class="nav nav-list">
                  <li class="nav-header">Sidebar</li>
                  <li><%= link_to "Link1", "/path1"  %></li>
                  <li><%= link_to "Link2", "/path2"  %></li>
                  <li><%= link_to "Link3", "/path3"  %></li>
                </ul> -->
                Text here Form helpers are designed to make working with resources much easier compared to using vanilla HTML.

Forms for models are created with form_for. That method yields a form builder that knows the model the form is about. The form builder is thus able to generate default values for input fields that correspond to model attributes, and also convenient names, IDs, endpoints, etc.

Conventions in the generated field names allow controllers to receive form data nicely structured in params with no effort on your side.
When the object belonging to the current scope has a nested attribute writer for a certain attribute, #fields_for will yield a new scope for that attribute. This allows you to create forms that set or change the attributes of a parent object and its associations in one go.

Nested attribute writers are normal setter methods named after an association. The most common way of defining these writers is either with accepts_nested_attributes_for in a model definition or by defining a method with the proper name. For example: the attribute writer for the association :address is called address_attributes=.

Whether a one-to-one or one-to-many style form builder will be yielded depends on whether the normal reader method returns a single object or an array of objects.
Returns a file upload input tag tailored for accessing a specified attribute (identified by method) on an object assigned to the template (identified by object). Additional options on the input tag can be passed as a hash with options. These options will be tagged onto the HTML as an HTML element attribute as in the example shown.

Using this method inside a form_for block will set the enclosing form’s encoding to multipart/form-data.
Text here Form helpers are designed to make working with resources much easier compared to using vanilla HTML.

Forms for models are created with form_for. That method yields a form builder that knows the model the form is about. The form builder is thus able to generate default values for input fields that correspond to model attributes, and also convenient names, IDs, endpoints, etc.

Conventions in the generated field names allow controllers to receive form data nicely structured in params with no effort on your side.
When the object belonging to the current scope has a nested attribute writer for a certain attribute, #fields_for will yield a new scope for that attribute. This allows you to create forms that set or change the attributes of a parent object and its associations in one go.

Nested attribute writers are normal setter methods named after an association. The most common way of defining these writers is either with accepts_nested_attributes_for in a model definition or by defining a method with the proper name. For example: the attribute writer for the association :address is called address_attributes=.

Whether a one-to-one or one-to-many style form builder will be yielded depends on whether the normal reader method returns a single object or an array of objects.
Returns a file upload input tag tailored for accessing a specified attribute (identified by method) on an object assigned to the template (identified by object). Additional options on the input tag can be passed as a hash with options. These options will be tagged onto the HTML as an HTML element attribute as in the example shown.

Using this method inside a form_for block will set the enclosing form’s encoding to multipart/form-data.
</div>

</div>
</div>

</div>
<br>



